<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>

<IfModule mod_php5.c>
php_value post_max_size 150M
php_value upload_max_filesize 150M
php_value memory_limit 428M
php_value max_execution_time 3600
php_value max_input_time 3600
php_value session.gc_maxlifetime 3600
</IfModule>